*{
    font-weight: 300;
    font-family: Poppins;
    margin: 0px;
    padding: 0px;
}
.background{
    width: 100%;
    position: fixed;
}
.back{
    position: absolute;
    background: none;
    width: 13%;
    height: 6.5%;
    top: .4%;
    margin-left: 2%;
    border: none;
    cursor: pointer;
    z-index: 15;
    position: fixed;
}
.back img{
    width: 100%;
}
/* ! ! ! login page ! ! ! */
#login_page{
    \\position: fixed;
}
#login_background{
    width: 100%;
    z-index: -100;
}
.title{
    color: rgba(0, 0, 0, .7);
    mix-blend-mode: multiply;
    position: absolute;
    margin-left: 8%;
    font-size: 25px;
    font-weight: bold;
    top: 40.5%;
    /*text-shadow: -2px 2px 0 rgba(0, 0, 0, .2);*/
}
#login_page_h3{
    margin-top: 11%;
    font-weight: 400;
    font-size: 18px;
    opacity: .6;
}
.login_insert{
    font-weight: 400;
    position:absolute;
    top: 53%;
    display: flex;
    margin-left: 6%;
    width: 70%;
    height:4.5%;
    border: none;
    border-radius: 50px;
    opacity: 75%;
    font-size: 16px;
    padding-left: 7%;
    color: #CE9C52;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
}
.login_insert ::placeholder{
    color: #CE9C52;
}
#login-password{
    margin-top: 15%;
}
.login_login_button{
    cursor: pointer;
    position: absolute;
    width: 40%;
    top: 67%;
    height: 5%;
    margin-left: 30%;
    font-size: 22px;
    font-weight: 400;
    border-radius: 50px;
    border-width: 0px;
    border-style: solid;
    background-color: #F4BF6C;
    color: #FFFFFF;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
    text-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
}
.login_or{
    position: absolute;
    display: flex;
    top: 76%;
    width: 100%;
}
.login_rectangle{
    background-color: #FFFFFF;
    width: 40%;
    height: 1.5px;
    margin-right: 3%;
    margin-left: 5.5%;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
}
#login_or{
    position: absolute;
    top: 74%;
    margin-left: 47%;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 10px;
    text-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
}
.login_SignUp{
    text-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
    position: absolute;
    top: 80%;
    width: 30%;
    height: 5%;
    margin-left: 35%;
    font-size: 17px;
    font-weight: 400;
    border-radius: 50px;
    border: none;
    background-color: #F4BF6C;
    color: #FFFFFF;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);

}
/* ! ! ! Sign UP page ! ! ! */
#SignUpBG{
    margin-left: -.2%;
}
.SignUpTitle{
    position: absolute;
    bottom: 80%;
    font-weight: bold;
    font-size: 26px;
    margin-left: 17%;
    mix-blend-mode: multiply;
    opacity: 70%;
}
.SignUpRec{
    position: absolute;
    width: 75%;
    height: .3%;
    background-color: black;
    bottom: 79%;
    margin-left: 12.5%;
    opacity: .6;
    mix-blend-mode: multiply;

}
#SignUpPage section{
    position: absolute;
    bottom: 35%;
    margin-left: 10%;
}
#SignUpPageInst{
    margin-bottom: 3%;
    font-weight: 450;
    opacity: .7;
    mix-blend-mode: multiply;
}
.SignUpPageInput{
    margin-left: 4%;
    font-size: 15px;
}
.SignUpPageInputSet{
    margin-bottom: 8%;
}
#SignUpPage section div input{
    background-color: #F9F4E8;
    border: solid;
    border-color: #E8AC6B;
    width: 82%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 50px;
    padding-left: 5.8%;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
    
}
#SignUpPage section div input ::shadow{
    mix-blend-mode: multiply;
}
#SignUpPage section button{
    position: absolute;
    width: 40%;
    height: 15%;
    border-radius: 90px;
    background-color: #F4BF6C;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
    text-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
    margin-left: 25%;
}
#SignUpPage section div input ::shadow{
    mix-blend-mode: multiply;
}
#SignUpPage section button :active{
    opacity: .6;
}
/* ! ! ! Lobby page ! ! !*/
.LobbyButtons{
    position: absolute;
    bottom: 4.5%;
    width: 80%;
    background: none;
    height: 36%;
    margin-left: 10%;
    border-radius: 10px;
}
.LobbyButtonsBG{
    position: absolute;
    bottom: 1.8%;
    width: 82%;
    background-color: #F7C68B;
    height: 39%;
    margin-left: 9%;
    border-radius: 10px;
    opacity: .4;
    mix-blend-mode: multiply;
}
.lobbyCol{
    display: flex;
    position: relative;
    height: 50%;
}
.lobbyPart{
    position: relative;
    height: 100%;
    width: 50%;
}
.LobbyButtons button{
    position: relative;
    width: 90%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    background:none;
    border: none;
    cursor: pointer;
    z-index: 90;
    opacity: 1;
    mix-blend-mode: normal;
}
.LobbyButtons button img{
    position: relative;
    width: 100%;
    z-index: 100;
    mix-blend-mode: normal;
}
.LobbyButtons button p{
    font-weight: 450;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
#LobbyButton3{
    margin-top: 1%;
    width: 75%;
}
#LobbyButton1{
    margin-top: 2%;
    width: 90%;
}
#LobbyButton2{
    margin-top: 2%;
    width: 80%;
}
#LobbyButton4{
    width: 60%;
}
.LobbySeason{
    position: absolute;
    bottom: 43%;
    width: 40%;
    margin-left: 30%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 50px;
    border: none;
    background-color: #EDAE62;
    font-weight: 450;
    font-size: 16px;
    color: white;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
    text-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
}
.LobbySeason ::shadow{
    mix-blend-mode: multiply;
}
.LobbyInven{
    position: absolute;
    bottom: 59%;
    height: 30%;
    width: 80%;
    margin-left: 10%;
    background-color: black;
    opacity: .4;
    mix-blend-mode: multiply;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
}
.LobbyInven div{
    margin-top: 8.5%;
}
.LobbyInven div p{
    position: relative;
    display: flex;
    margin-bottom: 10%;
    margin-left: 7%;
    font-size: 20px;
    font-weight: 450;
}
#LobbyInven1{
    margin-left: 10%;
    margin-bottom: 5%;
}
#LobbyInven2{
    margin-bottom: 0%;
    font-size: 14px;
    font-weight: 300;
}
#LobbyInven3{
    font-weight: 390;
    margin-left: 8%;
}
.LobbyMoney{
    display: flex;
    position: absolute;
    background:none;
    bottom: 93.2%;
    width: 30%;
    height: 5%;
    margin-left: 80%;
    align-items: center;
    text-align: right;
}
#LobbyMoneyNum{
    position: relative;
    font-weight: 450;
    opacity: .7;
    mix-blend-mode: multiply;
    text-align: right;
    margin-left: -19%;
    mix-blend-mode: multiply;
    opacity: .7;
}
#LobbyCoin{
    position: absolute;
    width: 23%;
    margin-left: -45%;
    background: none;
}
#LobbyMoneyBG{
    position: absolute;
    bottom: 93.5%;
    width: 30%;
    height: 4.5%;
    margin-left: 65%;
    filter: brightness(115%);
    border-radius: 7px;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
}
/* ! ! ! Community Page ! ! ! */
#CommBGTop{
    position: fixed;
    height: 12%;
    width: 100%;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
}
#CommBGBottom{
    position: fixed;
    height: 7%;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.CommsAdd{
    position: fixed;
    z-index: 15;
    width: 15%;
    bottom: .9%;
    height: 5.5%;
    border: none;
    margin-left: 42.5%;
    background-color: #F4BD6C;
    border-radius: 15%;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
}
.CommsAdd img{
    position: relative;
    background: none;
    width: 65%;
    margin-top: 5%;
    height: 90%;
}
.commBigSpace{
    height: 00%;
    width: 100%;
    margin-top: 30%;
    background-color: #73AD21;
}
.commContent{
    top: 0%;
    width: 100%;
    font-size: 12.7px;
    padding-left: 3%;
    background: none;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
    margin-top: 2%;
    background:none;
    z-index: -1000;
}
.commUsername{
    font-size: 11px;
    font-weight: 450;
    margin-left: 2%;
    position: relative;
    width: 100%;
}
.commTag{
    font-size: 10px;
    position: relative;
    width: 100%;
}
.commTitle{
    position: relative;
    width: 100%;
    font-size: 18px;
}
.commCaption{
    position: relative;
    width: 100%;
    font-size: 13px;
}
div.fixed {
    position: fixed;
    bottom: 0px;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
  }

  #postPage section{
    
  }