
*{
    font-weight: 300;
    font-family: Poppins;
    margin: 0px;
    padding: 0px;
}
.background{
    width: 100%;
    position: fixed;
}
.back{
    position: absolute;
    background: none;
    width: 13%;
    height: 6.5%;
    top: .4%;
    margin-left: 2%;
    border: none;
    cursor: pointer;
    z-index: 15;
    position: fixed;
}
.back img{
    width: 100%;
}
/* ! ! ! login page ! ! ! */

.loginLogo{
    position: absolute;
    width: 10%;
    margin-left: 31%;
    top: 19%;
}
#login_background{
    z-index: -100;
    position: fixed;
}
.title{
    color: rgba(0, 0, 0, .7);
    mix-blend-mode: multiply;
    position: absolute;
    margin-left: 9%;
    font-size: 30px;
    font-weight: bold;
    top: 30%;
    text-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
}
#login_page_h3{
    position:absolute;
    margin-top: 4%;
    font-weight: 400;
    font-size: 18px;
    opacity: .6;
}
.login_insert{
    font-weight: 400;
    position:absolute;
    top: 53%;
    display: flex;
    margin-left: 6%;
    width: 40%;
    height: 6%;
    border: none;
    border-radius: 50px;
    opacity: 75%;
    font-size: 16px;
    padding-left: 2%;
    color: #CE9C52;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
}
.login_insert ::placeholder{
    color: #CE9C52;
}
#login-password{
    margin-top: 4%;
}
.login_login_button{
    cursor: pointer;
    position: absolute;
    width: 15%;
    top: 70%;
    height: 6%;
    margin-left: 19%;
    font-size: 22px;
    font-weight: 400;
    border-radius: 50px;
    border-width: 0px;
    border-style: solid;
    background-color: #D69541;
    color: #FFFFFF;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
    text-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
}
.login_or{
    position: absolute;
    display: flex;
    top: 79.25%;
    width: 45%;
    margin-left: 4%;
}
.login_rectangle{
    background-color: black;
    width: 40%;
    height: 2px;
    margin-right: 3%;
    margin-left: 5.5%;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
    opacity: .6;
}
#login_or{
    position: absolute;
    top: 77.2%;
    margin-left: 26%;
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
    text-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
    opacity: .7;
}
.login_SignUp{
    text-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
    position: absolute;
    top: 83%;
    width: 10%;
    height: 5%;
    margin-left: 21.5%;
    font-size: 17px;
    font-weight: 400;
    border-radius: 50px;
    border: none;
    background-color: #D69541;
    color: #FFFFFF;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    
        .loginLogo{
            position: absolute;
            width: 36%;
            margin-left: 32%;
            top: 10%;
        }
        #login_background{
            z-index: -100;
            position: fixed;
        }
        .title{
            color: rgba(0, 0, 0, .7);
            mix-blend-mode: multiply;
            position: absolute;
            margin-left: 9%;
            font-size: 25px;
            font-weight: bold;
            top: 40.5%;
            text-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
        }
        #login_page_h3{
            position:absolute;
            margin-top: 13%;
            font-weight: 400;
            font-size: 18px;
            opacity: .6;
        }
        .login_insert{
            font-weight: 400;
            position:absolute;
            top: 53%;
            display: flex;
            margin-left: 6%;
            width: 83%;
            height:4.5%;
            border: none;
            border-radius: 50px;
            opacity: 75%;
            font-size: 16px;
            padding-left: 7%;
            color: #CE9C52;
            box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
        }
        .login_insert ::placeholder{
            color: #CE9C52;
        }
        #login-password{
            margin-top: 15%;
        }
        .login_login_button{
            cursor: pointer;
            position: absolute;
            width: 40%;
            top: 70%;
            height: 5%;
            margin-left: 30%;
            font-size: 22px;
            font-weight: 400;
            border-radius: 50px;
            border-width: 0px;
            border-style: solid;
            background-color: #D69541;
            color: #FFFFFF;
            box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
            text-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
        }
        .login_or{
            position: absolute;
            display: flex;
            top: 79.25%;
            width: 100%;
        }
        .login_rectangle{
            background-color: #FFFFFF;
            width: 40%;
            height: 1.5px;
            margin-right: 3%;
            margin-left: 5.5%;
            box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
        }
        #login_or{
            position: absolute;
            top: 77%;
            margin-left: 47%;
            font-size: 18px;
            font-weight: 400;
            color: #FFFFFF;
            margin-bottom: 10px;
            text-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
        }
        .login_SignUp{
            text-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
            position: absolute;
            top: 83%;
            width: 30%;
            height: 5%;
            margin-left: 35%;
            font-size: 17px;
            font-weight: 400;
            border-radius: 50px;
            border: none;
            background-color: #D69541;
            color: #FFFFFF;
            box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
            cursor: pointer;
        }
    
  }
/* ! ! ! Sign UP page ! ! ! */
#SignUpBG{
    margin-left: -0.05%;
}
.SignUpTitle{
    position: absolute;
    bottom: 73%;
    font-weight: bold;
    font-size: 26px;
    margin-left: 11%;
    mix-blend-mode: multiply;
    opacity: 70%;
}
.SignUpRec{
    position: absolute;
    width: 75%;
    height: .3%;
    background-color: black;
    bottom: 74%;
    margin-left: 9%;
    opacity: .6;
    mix-blend-mode: multiply;
}
#SignUpPage section{
    position: absolute;
    bottom: 23%;
    margin-left: 10%;
}
#SignUpPageInst{
    margin-bottom: 3%;
    font-weight: 450;
    opacity: .7;
    mix-blend-mode: multiply;
}
.SignUpPageInput{
    margin-left: 4%;
    font-size: 12px;
}
#SignUpEmail{
    font-size: 15px;
    margin-bottom: 1%;
}
#SignUpUsername{
    font-size: 15px;
    margin-bottom: 1%;
}
#SignUpPassword{
    font-size: 15px;
    margin-bottom: 1%;
}
.SignUpPageInputSet{
    margin-bottom: 12%;
}
#signUp-Email{
    margin-left: -5%;
    font-size: 13px;
}
#signUp-Username{
    font-size: 13px;
    margin-left: -5%;
}
#signUp-Password{
    margin-left: -5%;
    font-size: 13px;
}
#SignUpPage section div input{
    background-color: #F9F4E8;
    border: solid;
    border-color: #E8AC6B;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 500px;
    padding-left: 5.8%;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
}
#SignUpPage section div input ::shadow{
    mix-blend-mode: multiply;
}
#SignUpPage section button{
    position: absolute;
    width: 40%;
    height: 15%;
    border-radius: 90px;
    background-color: #D69541;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
    text-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
    margin-left: 25%;
}
#SignUpPage section div input ::shadow{
    mix-blend-mode: multiply;
}
#SignUpPage section button :active{
    opacity: .6;
}

.btn-secondary{
    width:20%
}
.modal-footer{
    padding:1.8rem
}
.back-button {
    position: absolute;
    top: 2%;
    left: 2%;
    height: 6%;
  }
@media only screen and (max-width: 600px) {
    #SignUpBG{
        margin-left: -0.05%;
    }
    .SignUpTitle{
        position: absolute;
        bottom: 73%;
        font-weight: bold;
        font-size: 26px;
        margin-left: 17%;
        mix-blend-mode: multiply;
        opacity: 70%;
    }
    .SignUpRec{
        position: absolute;
        width: 75%;
        height: .3%;
        background-color: black;
        bottom: 74%;
        margin-left: 12.5%;
        opacity: .6;
        mix-blend-mode: multiply;
    }
    #SignUpPage section{
        position: absolute;
        bottom: 23%;
        margin-left: 10%;
    }
    #SignUpPageInst{
        margin-bottom: 3%;
        font-weight: 450;
        opacity: .7;
        mix-blend-mode: multiply;
    }
    .SignUpPageInput{
        margin-left: 4%;
        font-size: 12px;
    }
    #SignUpEmail{
        font-size: 15px;
        margin-bottom: 1%;
    }
    #SignUpUsername{
        font-size: 15px;
        margin-bottom: 1%;
    }
    #SignUpPassword{
        font-size: 15px;
        margin-bottom: 1%;
    }
    .SignUpPageInputSet{
        margin-bottom: 12%;
    }
    #signUp-Email{
        margin-left: -5%;
        font-size: 13px;
    }
    #signUp-Username{
        font-size: 13px;
        margin-left: -5%;
    }
    #signUp-Password{
        margin-left: -5%;
        font-size: 13px;
    }
    #SignUpPage section div input{
        background-color: #F9F4E8;
        border: solid;
        border-color: #E8AC6B;
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-radius: 500px;
        padding-left: 5.8%;
        box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
    }
    #SignUpPage section div input ::shadow{
        mix-blend-mode: multiply;
    }
    #SignUpPage section button{
        position: absolute;
        width: 40%;
        height: 15%;
        border-radius: 90px;
        background-color: #D69541;
        color: white;
        font-weight: bold;
        font-size: 18px;
        border: none;
        box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
        text-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
        margin-left: 25%;
    }
    #SignUpPage section div input ::shadow{
        mix-blend-mode: multiply;
    }
    #SignUpPage section button :active{
        opacity: .6;
    }
    
    .btn-secondary{
        width:20%
    }
    .modal-footer{
        padding:1.8rem
    }
    .back-button {
        position: absolute;
        top: 2%;
        left: 2%;
        height: 6%;
      }
}
/* ! ! ! Lobby page ! ! !*/
.LobbyButtons{
    position: absolute;
    bottom: 4.5%;
    width: 80%;
    background: none;
    height: 36%;
    margin-left: 10%;
    border-radius: 10px;
}
.LobbyButtonsBG{
    position: absolute;
    bottom: 1.8%;
    width: 82%;
    background-color: #F7C68B;
    height: 39%;
    margin-left: 9%;
    border-radius: 10px;
    opacity: .4;
    mix-blend-mode: multiply;
}
.lobbyCol{
    display: flex;
    position: relative;
    height: 50%;
}
.lobbyPart{
    position: relative;
    height: 100%;
    width: 50%;
}
.LobbyButtons button{
    position: relative;
    width: 90%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    background:none;
    border: none;
    cursor: pointer;
    z-index: 90;
    opacity: 1;
    mix-blend-mode: normal;
}
.LobbyButtons button img{
    position: relative;
    width: 100%;
    z-index: 100;
    mix-blend-mode: normal;
}
.LobbyButtons button p{
    font-weight: 450;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
#LobbyButton3{
    margin-top: 1%;
    width: 75%;
}
#LobbyButton1{
    margin-top: 2%;
    width: 90%;
}
#LobbyButton2{
    margin-top: 2%;
    width: 70%;
}
#LobbyButton4{
    width: 60%;
}
.LobbySeason{
    position: absolute;
    bottom: 43%;
    width: 40%;
    margin-left: 30%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 50px;
    border: none;
    background-color: #D69541;
    font-weight: 450;
    font-size: 16px;
    color: white;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
    text-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
}
.LobbySeason ::shadow{
    mix-blend-mode: multiply;
}
.LobbyInven{
    position: absolute;
    bottom: 59%;
    height: 30%;
    width: 80%;
    margin-left: 10%;
    background-color: black;
    opacity: .4;
    mix-blend-mode: multiply;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
}
.LobbyInven div{
    margin-top: 8.5%;
}
.LobbyInven div p{
    position: relative;
    display: flex;
    margin-bottom: 10%;
    margin-left: 7%;
    font-size: 20px;
    font-weight: 450;
}
#LobbyInven1{
    margin-left: 10%;
    margin-bottom: 5%;
}
#LobbyInven2{
    margin-bottom: 0%;
    font-size: 14px;
    font-weight: 300;
}
#LobbyInven3{
    font-weight: 390;
    margin-left: 8%;
}
.LobbyMoney{
    display: flex;
    position: absolute;
    background:none;
    bottom: 93.2%;
    width: 30%;
    height: 5%;
    margin-left: 80%;
    align-items: center;
    text-align: right;
}
#LobbyMoneyNum{
    position: relative;
    font-weight: 450;
    mix-blend-mode: multiply;
    text-align: right;
    margin-left: -19%;
    mix-blend-mode: multiply;
    opacity: .7;
}
#LobbyCoin{
    position: absolute;
    width: 23%;
    margin-left: -45%;
    background: none;
}
#LobbyMoneyBG{
    position: absolute;
    bottom: 93.5%;
    width: 30%;
    height: 4.5%;
    margin-left: 65%;
    filter: brightness(115%);
    border-radius: 7px;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
}
/* ! ! ! Community Page ! ! ! */
#CommBGTop{
    position: fixed;
    height: 12%;
    width: 100%;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
}
#CommBGBottom{
    position: fixed;
    height: 7%;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.CommsAdd{
    position: fixed;
    z-index: 15;
    width: 15%;
    bottom: .9%;
    height: 5.5%;
    border: none;
    margin-left: 42.5%;
    background-color: #F4BD6C;
    border-radius: 15%;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
}
.CommsAdd img{
    position: relative;
    background: none;
    width: 65%;
    margin-top: 5%;
    height: 90%;
}
.commBigSpace{
    height: 00%;
    width: 100%;
    margin-top: 30%;
    background-color: #73AD21;
}
.commContent{
    top: 0%;
    width: 100%;
    font-size: 12.7px;
    padding-left: 3%;
    background: none;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
    margin-top: 2%;
    background:none;
    z-index: -1000;
    padding-bottom: 1%;
}
.commUsername{
    font-size: 11px;
    font-weight: 450;
    margin-left: 2%;
    position: relative;
    width: 100%;
}
.commTag{
    font-size: 10px;
    position: relative;
    width: 100%;
}

.commCaption{
    position: relative;
    width: 100%;
    font-size: 18px;
}
.triangle-up {
    position: relative;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #555;
}
.triangle-upSelect {
    position: relative;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #EAB065;
}
.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  
  .postImage {
    width: 300px;
    height: 300px;
  }
  
  .postCaption {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
  }

  #imagepost{
    width:500px;
    height:230px;
    border:1px solid black;
    background-position: center;
    background-size: cover;
  }
  
/**/
div.fixed {
    position: fixed;
    bottom: 0px;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}
#postPage section{
    position: absolute;
    width: 90%;
    margin-top: 20%;
    margin-left: 5%;
    height: 80%;
}
.postTitle[type=text]{
    width: 100%;
    height: 7%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(122, 122, 122);
    font-size: 16px;
    font-weight: 450;
    padding-left: 2%;
}
.postTitle ::placeholder{
    font-weight: 450;
    font-size: 15px;
}
.postImg{
    position: absolute;
    margin: 0px;
    height: 8.6%;
    margin-top: 7%;
    width: 20%;
    background-image: url(images/postAdd.png);
    background-size: 100%;
    margin-right: none;
    
}
.postImg :hover{
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
}
.postImg::-webkit-file-upload-button {
    visibility: hidden;
  }
  .postCapt{
    padding-left: 2%;
    margin-top: 7%;
    position: relative;
    margin-left: 27%;
    width: 72.374%;
    height: 30%;
    box-sizing: border-box;
    resize: none;
    opacity: 70%;
  }
  .postSubmit{
    position: absolute;
    bottom: 40%;
    width: 30%;
    height: 5%;
    font-size: 17px;
    font-weight: 500;
    margin-right: 20%;
    border-radius: 100px;
    border: none;
    background-color: #D69541;
    background-size: cover;
    color: white;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
    text-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
    margin-left: 35%;
}
.postTag{
    display: flex;
    margin-top: 4%;
    box-sizing: border-box;
    border: 2.5px solid #EAB065;
    border-radius: 100px;
    font-size: 12px;
    background-color: white;
    background-position: 10px 10px; 
    padding: 0px 0px 0px 2%;
    width: 24.5%;
    transition: 0.4s ease-in-out;
}
.postTag[type=text]:focus {
    width: 80%;
    background-color: #E8AC6B;
    color: white;
    font-weight: 500;
    font-size: 14px;
  }
.postX{
    position: absolute;
    width: 10%;
    height: 5%;
    padding: 2%;
    background: none;
    border: none;
    margin-top: 5%;
    margin-left: 3%;
    border-radius: 500px;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);

}
.postX img{
    position: relative;
    width: 100%;
}

/* ! ! Shop Page ! ! */
.shopBG{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    height: 11%;
}
.back img{
    position: relative;
    width: 100%;
}
.LobbyMoney{
    display: flex;
    position: fixed;
    background:none;
    bottom: 93.2%;
    width: 30%;
    height: 5%;
    margin-left: 80%;
    align-items: center;
    text-align: right;
    z-index: 20;
}
.shopItemRow{
    display: flex;
    width: 100%;
}
.shopMoney{
    display: flex;
    position: fixed;
    background:none;
    bottom: 93.2%;
    width: 30%;
    height: 5%;
    margin-left: 60%;
    align-items: center;
    text-align: right;
    z-index: 15;
}
#shopMoneyNum{
    position: relative;
    font-weight: 450;
    mix-blend-mode: multiply;
    text-align: right;
    mix-blend-mode: multiply;
    opacity: .7;
    margin-left: -85%;
}
#shopCoin{
    position: relative;
    width: 23%;
    background: none;
    margin-left: -35%;
}
#shopMoneyBG{
    position: relative;
    height: 100%;
    filter: brightness(115%);
    border-radius: 7px;
    box-shadow: -2px 2px 0 rgba(0, 0, 0, .2);
}
#shopEmpty{
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
    opacity: 0;
    z-index: -100;
}
.shopItems{
    display: flex;
    flex-wrap: wrap;
}
.shopItem{
    background-color: rgba(239, 198, 154, .85);
    width: 140px;
    margin-left: 4%;
    border-radius: 10px;
    opacity: 85%;
    padding-bottom: 17px;
    padding-left: 10px;
    padding-right: 5px;
    border: none;
    cursor: pointer;
    padding-top: 3%;
    margin-bottom: 2%;
}
.shopItemImg{
    position: relative;
    width: 90%;
    height: 55%;
    border-radius: 10px;
    margin-left: -5%;
}
.shopItemDetails{
    position: relative;
    background-color: rgba(242, 161, 107, .3);
    mix-blend-mode: multiply;
    width: 84%;
    height: 40%;
    font-size: 14px;
    border-radius: 10px;
    padding-left: 7%;
    text-align: left;
    font-weight: 500;
    padding-bottom: 7%;
    padding-top: 5%;
}
.shopItemDetails p{
    position: relative;
    height: 65%;
}
.shopItemDetails div{
    font-weight: 500;
    font-size: 14px;
    background-color: rgba(224, 162, 55, 0.6);
    padding-left: 3%;
    width: 60%;
    border-radius: 10px;
    padding-left: 5%;
}
.shopItemCoin{
    position: relative;
    height: 20px;
    top: 2px;    
    left: 15%;
}
