*{
    font-weight: 300;
    font-family: Poppins;
    margin: 0px;
    padding: 0px;
}
#login_page{
    position: fixed;
}
#login_background{
    width: 100%;
    z-index: -100;
}
.title{
    color: white;
    position: absolute;
    margin-left: 5%;
    font-size: 40px;
    font-weight: 550;
    top: 40%;
    text-shadow: -5px 5px 0 rgba(0, 0, 0, .2);
}

#login_page_h3{
    margin-top: 12%;
    font-weight: 300;
    font-size: 25px;
}
.login_insert{
    font-weight: 400;
    position:absolute;
    top: 53%;
    display: flex;
    margin-left: 8%;
    width: 78%;
    height:5%;
    border: none;
    border-radius: 50px;
    opacity: 75%;
    font-size: 20px;
    padding-left: 8%;
    color: #CE9C52;
    box-shadow: -5px 5px 0 rgba(0, 0, 0, .2);
}
.login_insert ::placeholder{
    color: #CE9C52;
}
#login-password{
    margin-top: 15%;
}

.login_login_button{
    cursor: pointer;
    position: absolute;
    width: 40%;
    top: 68%;
    height: 5%;
    margin-left: 31%;
    font-size: 30px;
    font-weight: 400;
    border-radius: 50px;
    border-width: 2px;
    border-color: #FFFFFF;
    border-style: solid;
    background-color: #FCD288;
    color: #FFFFFF;
    box-shadow: -5px 5px 0 rgba(0, 0, 0, .2);
}
.login_or{
    position: absolute;
    display: flex;
    top: 76%;
    width: 100%;
}
.login_rectangle{
    background-color: #FFFFFF;
    width: 35%;
    height: 3px;
    margin-right: 3%;
    margin-left: 9%;
    box-shadow: -5px 5px 0 rgba(0, 0, 0, .2);
}

#login_or{
    position: absolute;
    top: 74%;
    margin-left: 47%;
    font-size: 25px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 10px;
    text-shadow: -5px 5px 0 rgba(0, 0, 0, .2);
}
.login_SignUp{
    position: absolute;
    top: 80%;
    width: 30%;
    height: 40px;
    margin-left: 35%;
    font-size: 25px;
    font-weight: 400;
    border-radius: 50px;
    border-width: 2px;
    border-color: #FFFFFF;
    border-style: solid;
    background-color: #FCD288;
    color: #FFFFFF;
    box-shadow: -5px 5px 0 rgba(0, 0, 0, .2);

}
.forget{
    position: absolute;
    top: 88%;
}